@font-face {
    font-family: "HelveticaNeueW01-55Roma";
    src: url(fonts/HelveticaNeueW01-55Roma.woff);
}

@font-face {
    font-family: "HelveticaNeueW01-75Bold";
    src: url(fonts/HelveticaNeueW01-75Bold.woff);
}