/* General */

/* Overall Doughnuts */
.role-overall-charts {
    display: flex;;
    flex-direction: row;
}

.role-overall-charts .role-overall-doughnuts-container,
.role-overall-charts .role-overall-stacked-container {
    width: 50%;
}

.role-overall-doughnut-item .role-overall-doughnut-wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.2rem;
}

.role-overall-doughnut-item h3 {
    padding: .7rem 0;
    margin-bottom: 0;
}

.role-overall-doughnut-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.role-overall-doughnut-desc p {
    text-align: center;
    margin-left: 10px;
    margin-bottom: 0 !important; /* avoid collision with gedi-reports-2022.css */
    font-weight: 300;
}

.role-overall-doughnut-desc p span {
    display: block;
}


.role-overall-doughnut-desc p span:first-child {
    font-size: 2.5rem;
}


.role-overall-doughnut-desc p span:not(:first-child) {
    font-size: 1.5rem;
    line-height: 34px;
}

.role-overall-stacked-item h3 {
    margin-bottom: 0;
}

.role-overall-stacked-wrapper p {
    padding: 0;
    margin: 0 !important; /* avoid colliding with gedi-reports-2022.css */
}

.role-other-charts {
    display: flex;
    padding-top: 2rem;
}

.role-links-container {
    height: 200px;
}

.role-legend-container {
    padding-top: 3rem;
}

.role-legend-container .role-legend,
.role-legend-container .role-legend-text {
    display: inline-block;
}

.role-legend-container .role-legend {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: black;
}

.role-legend-container .role-legend:not(:first-child) {
    margin-left: 1rem;
}

.role-legend-container .role-legend-text {
    margin-left: 1rem;
    margin-bottom: 0 !important;
    padding: 0;
}

.role-links-container a.role-links {
    text-decoration: none;
    font-weight: 700;
    padding: 0 1rem;
    text-transform: uppercase;
    color: #0033A1;
    padding-top: 0.2rem;
}

.role-links-container a.role-links.active {
    color: #4BA0CC;
    border-top: 2px solid #BEC3C8;
}

.role-links-container .role-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.role-links-wrapper {
    padding: 1rem 0;
}

.role-charts-disclaimer p {
    margin-top: 10px;
    font-size: .8rem;
    color: #727D87;
    text-align: center;
}

.role-other-charts-nodata {
    min-height: 540px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.role-other-charts-nodata p {
    font-size: 3rem;
}

/* Gender */
.role-legend.legend-women {
    background: #69A7E2;
}

.role-legend.legend-men {
    background: #133C65;
}

.role-gender-woc {
    max-width: 640px;
    margin: 0 auto;
}

.role-gender-woc-title span {
    font-size: 24px;
    font-weight: 300;
}

.role-gender-woc-us-overall .role-gender-woc-level,
.role-gender-woc-executive-overall .role-gender-woc-level {
    font-family: "HelveticaNeueW01-75Bold";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.role-gender-woc-us-overall .role-gender-woc-percent,
.role-gender-woc-executive-overall .role-gender-woc-percent {
    font-size: 3rem;
    font-weight: 300;
    line-height: 52px;
}

.role-gender-woc-wrapper {
    display: flex;
    flex-direction: row;
}

.role-gender-woc-message {
    width: 80%;
}

.role-gender-woc-us-overall p span,
.role-gender-woc-executive-overall p span {
    display: block;
}

/* Race & Ethnicity */
.role-legend.legend-pacific-islander {
    background: #CCE981;
}

.role-legend.legend-native-american {
    background: #81BC00;
}

.role-legend.legend-2-or-more {
    background: #007167;
}

.role-legend.legend-black {
    background: #BBD8F2;
}

.role-legend.legend-hlax {
    background: #4C95DF;
}

.role-legend.legend-asian {
    background: #2F77CC;
}

.role-legend.legend-white {
    background: #133C65;
}

.role-legend.legend-addtl-races {
    background: #598200;
}

.charts-footer p span {
    display: block;
}

.charts-footer .charts-footer-title {
    font-weight: 700;
}

.nav-tabs.sub-tabs {
    width: 40%;
    margin: 0 auto;
}

#reDisclaimer {
    font-size: .8rem;
    color: #727D87;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

/* Veterans */
.role-legend.legend-veterans {
    background: #69A7E2;
}

.role-legend.legend-others {
    background: #133C65;
}

/* Disability */

.disability-desc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.disability-desc-left {
    width: 40%;
}

.disability-desc-right {
    width: 30%;
}

.disability-desc-right span {
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
    font-family: "HelveticaNeueW01-45Ligh" !important;
}

.disability-desc-right span mark {
    background-color: #CCE981;
}

.lgbtqia-desc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lgbtqia-desc-left {
    width: 40%;
}

.lgbtqia-desc-right {
    width: 30%;
}

.lgbtqia-desc-right span {
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
    font-family: "HelveticaNeueW01-45Ligh" !important;
}

.lgbtqia-desc-right span mark{
    background-color: #CCE981;
}


@media only screen  and (min-width: 668px) {

    .nav-tabs.sub-tabs li {
        width: unset;
    }

}