/* TEMP - TO REMOVE */
.charts-tabs {
    max-width: 905px;
}
/* General */

#tabListLevel1 {
    display: flex;
    justify-content: center;
}

#tabListLevel1 li a span {
    display: block;
}

.charts-tabs .nav-tabs li.active a span,
.sub-tabs li.active a span {
    color: #0078B8 !important;
}

.role-charts-disclaimer {
    width: 100%;
    height: 30px;
}

/* Overall Doughnuts */
.role-overall-charts {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    min-height: 484px;
    justify-content: space-between;
}

/*.role-overall-charts .role-overall-doughnuts-container,
.role-overall-charts .role-overall-stacked-container {
    width: 50%;
}*/

.role-overall-doughnut-item .role-overall-doughnut-wrapper {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.role-overall-stacked-item:not(:first-child) {
    margin-top: 1.3rem;
}

.role-overall-doughnut-item h3,
.role-overall-stacked-item h3 {
    padding-top: .7rem;
    margin-bottom: 0;
}

.role-overall-doughnut-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.role-overall-doughnut-desc p {
    margin-left: 10px;
    margin-bottom: 0 !important; /* avoid collision with gedi-reports-2022.css */
    font-weight: 300;
}

.role-overall-doughnut-desc p span {
    display: block;
}

.role-overall-doughnut-desc p span:first-child {
    font-size: 2.5rem;
}


.role-overall-doughnut-desc p span:not(:first-child) {
    font-size: 1.5rem;
    line-height: 34px;
}

.role-overall-stacked-container {
    max-width: 400px;
}

.role-overall-stacked-item h3 {
    margin-bottom: 0;
}

.role-overall-stacked-wrapper {
    position: relative;
}

.role-overall-stacked-wrapper p {
    padding: 0;
    margin: 0 !important; /* avoid colliding with gedi-reports-2022.css */
}

.role-overall-stacked-wrapper .role-overall-stacked-tooltip {
    position: absolute;
    height: 28px;    
    font-size: 0.8rem;
}


/**/
.role-overall-stacked-bca,
.role-overall-stacked-bds,
.role-overall-stacked-bgs {
    padding-top: 15px;
}
/**/

.role-other-charts {
    display: flex;
    margin-top: 2rem;
    position: relative;
}

.role-links-container {
    height: 200px;
}

.role-legend-container {
    padding-top: 3rem;
}

.role-legend-container .role-legend,
.role-legend-container .role-legend-text {
    display: inline-block;
}

.role-legend-container .role-legend {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: black;
}

.role-legend-container .role-legend:not(:first-child) {
    margin-left: 0.5rem;
}

.role-legend-container .role-legend-text {
    margin-left: 0.5rem;
    margin-bottom: 0 !important;
    padding: 0;
    font-size: .80rem;
}

.role-links-container a.role-links {
    text-decoration: none;
    font-weight: 700;
    padding: 0 1rem;
    text-transform: uppercase;
    color: #0033A1;
    padding-top: 0.2rem;
    text-align: center;
}

a.role-links {
    width: 150px;
    height: 50px;
}

.role-links-container a.role-links.active {
    color: #0078B8 !important;
    border-top: 2px solid #BEC3C8;
}

.role-links-container .role-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.role-links-wrapper {
    padding: 1rem 0;
}

.role-charts-disclaimer p {
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: .8rem;
    color: #727D87;
    text-align: center;
}

p.role-other-charts-nodata {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-right: 0;
    text-align: center;
    top: 50%;
    /*margin-top: calc(-26px + -2em);*/
    font-size: 3em;
    opacity: 0.5;
}

/* Gender */
.role-legend.legend-women {
    background: #69A7E2;
}

.role-legend.legend-men {
    background: #133C65;
}

.role-legend.legend-undisclosed {
    background: #007167;
}

.role-gender-woc {
    max-width: 640px;
    margin: 0 auto;
}

.role-gender-woc-title span {
    font-size: 24px;
    font-weight: 300;
}

.role-gender-woc-us-overall .role-gender-woc-level,
.role-gender-woc-executive-overall .role-gender-woc-level {
    font-family: "HelveticaNeueW01-75Bold";
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.role-gender-woc-us-overall .role-gender-woc-percent,
.role-gender-woc-executive-overall .role-gender-woc-percent {
    font-size: 3rem;
    font-weight: 300;
    line-height: 52px;
}

.role-gender-woc-wrapper {
    display: flex;
    flex-direction: row;
}

.role-gender-woc-message {
    width: 80%;
}

.role-gender-woc-us-overall p span,
.role-gender-woc-executive-overall p span {
    display: block;
}

/* Race & Ethnicity */
.role-legend.legend-pacific-islander {
    background: #CCE981;
}

.role-legend.legend-native-american {
    background: #81BC00;
}

.role-legend.legend-2-or-more {
    background: #007167;
}

.role-legend.legend-black {
    background: #BBD8F2;
}

.role-legend.legend-hlax {
    background: #4C95DF;
}

.role-legend.legend-asian {
    background: #2F77CC;
}

.role-legend.legend-white {
    background: #133C65;
}

.role-legend.legend-addtl-races {
    background: #598200;
}

.charts-footer {
    margin-top: 3rem;
}

.charts-footer p span {
    display: block;
    line-height: 22px;
}

.charts-footer p span:first-child {
    margin-bottom: 1rem;
}

.charts-footer .charts-footer-title {
    font-weight: 700;
}

.charts-footer .data-disclaimer-desc {
    font-weight: 700;
    word-spacing: -2px;
}

.nav-tabs.sub-tabs {
    width: 40%;
    margin: 0 auto;
}

#reDisclaimer {
    font-size: .8rem;
    color: #727D87;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

/* Veterans */
.role-legend.legend-veterans {
    background: #69A7E2;
}

.role-legend.legend-others {
    background: #133C65;
}

/* Disability */

.disability-desc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.disability-desc-left {
    margin-right: .5rem;
    width: 40%;
}

.disability-desc-right {
    margin-left: .5rem;
    width: 30%;
}

.disability-desc-right span {
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
    font-family: "HelveticaNeueW01-45Ligh" !important;
}

.disability-desc-right span mark {
    background-color: #CCE981;
    opacity: 0.8;
}

.lgbtqia-desc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lgbtqia-desc-left {
    margin-right: .5rem;
    width: 40%;
}

.lgbtqia-desc-right {
    margin-left: .5rem;
    width: 30%;
}

.lgbtqia-desc-right span {
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
    font-family: "HelveticaNeueW01-45Ligh" !important;
}

.lgbtqia-desc-right span mark{
    background-color: #CCE981;
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    #tabListLevel1 li.active a span {
        color: rgb(37, 55, 70) !important;
    }    

    #tabListLevel1 li.active a,
    #tabListLevel1 li.active a:hover,
    #tabListLevel1 li.active a:focus {
        border-top-color: transparent !important;
    }

    .role-overall-charts {
        flex-direction: column;
    }

    .role-overall-doughnuts-container {
        display: flex;
        flex-direction: column;
    }

    .role-overall-doughnuts-container .role-overall-doughnut-wrapper {
        justify-content: center;
    }

    .role-overall-stacked-container {
        margin: 0 auto;
    }

    .role-overall-stacked-item:not(:first-child) {
        margin-top: 0;
    }

    .nav-tabs.sub-tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .nav-tabs.sub-tabs li {
        width: 50%;
    }

    .disability-desc-container {
        flex-direction: column;
    }

    .disability-desc-left {
        width: 100%;
    }

    .disability-desc-right {
        width: 100%;
    }

    .lgbtqia-desc-container {
        flex-direction: column;
    }

    .lgbtqia-desc-left {
        width: 100%;
    }

    .lgbtqia-desc-right {
        width: 100%;
    }
}

@media only screen and (max-width: 414px) { 
    .role-overall-stacked-container {
        margin: unset;
    }
}

@media only screen  and (min-width: 668px) {

    .nav-tabs.sub-tabs li {
        width: unset;
    }

}

/**
* GEDI Custom Tooltips - Gender
*/

#genderUSBCA21Women {
    left: 0px;
}

#genderUSBCA21Men {
    left: 80px;
}

#genderUSBDS21Women {
    left: 0px;
}

#genderUSBDS21Men {
    left: 96px;
}

#genderUSBGS21Women {
    left: 0px;
}

#genderUSBGS21Men {
    left: 103px;
}

#genderUSBCA20Women {
    left: 0px;
}

#genderUSBCA20Men {
    left: 75px;
}

#genderUSBDS20Women {
    left: 0px;
}

#genderUSBDS20Men {
    left: 98px;
}

#genderUSBGS20Women {
    left: 0px;
}

#genderUSBGS20Men {
    left: 98px;
}

@media only screen and (max-width: 414px) {
    #genderUSBCA21Men {
        left: 75px;
    }

    #genderUSBDS21Men {
        left: 91px;
    }

    #genderUSBGS21Men {
        left: 98px;
    }

    #genderUSBCA20Men {
        left: 70px;
    }

    #genderUSBDS20Men {
        left: 93px;
    }

    #genderUSBGS20Men {
        left: 93px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    #genderUSBCA21Men {
        left: 67px;
    }

    #genderUSBDS21Men {
        left: 82px;
    }

    #genderUSBGS21Men {
        left: 87px;
    }

    #genderUSBCA20Men {
        left: 63px;
    }

    #genderUSBDS20Men {
        left: 84px;
    }

    #genderUSBGS20Men {
        left: 83px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    #genderUSBCA21Men {
        left: 64px;
    }

    #genderUSBDS21Men {
        left: 79px;
    }

    #genderUSBGS21Men {
        left: 84px;
    }

    #genderUSBCA20Men {
        left: 59px;
    }

    #genderUSBDS20Men {
        left: 79px;
    }

    #genderUSBGS20Men {
        left: 79px;
    }
}
/**
* GEDI Custom Tooltips -  Race Ethnicity
*/

/* 2021 US BCA RE */
#reUSBCA21PacificIslander {
    left: 0px;
}

#reUSBCA21NativeAmerican {
    left: 8px;
}

#reUSBCA21TwoOrMore {
    left: 15px;
}

#reUSBCA21Black {
    left: 23px;
}

#reUSBCA21HLAX {
    left: 50px;
}

#reUSBCA21Asian {
    left: 72px;
}

#reUSBCA21White {
    left: 153px;
}


/* 2021 US BDS RE */
#reUSBDS21PacificIslander {
    left: 0px;
}

#reUSBDS21NativeAmerican {
    left: 3px;
}

#reUSBDS21TwoOrMore {
    left: 7px;
}

#reUSBDS21Black {
    left: 14px;
}

#reUSBDS21HLAX {
    left: 52px;
}

#reUSBDS21Asian {
    left: 86px;
}

#reUSBDS21White {
    left: 107px;
}

/* 2021 US BGS RE */
#reUSBGS21PacificIslander {
    left: 0px;
}

#reUSBGS21NativeAmerican {
    left: 3px;
}

#reUSBGS21TwoOrMore {
    left: 7px;
}

#reUSBGS21Black {
    left: 15px;
}

#reUSBGS21HLAX {
    left: 50px;
}

#reUSBGS21Asian {
    left: 113px;
}

#reUSBGS21White {
    left: 146px;
}

/* 2020 US BCA RE */
#reUSBCA20PacificIslander {
    left: 0px;
}

#reUSBCA20NativeAmerican {
    left: 8px;
}

#reUSBCA20TwoOrMore {
    left: 12px;
}

#reUSBCA20Black {
    left: 21px;
}

#reUSBCA20HLAX {
    left: 49px;
}

#reUSBCA20Asian {
    left: 70px;
}

#reUSBCA20White {
    left: 146px;
}

/* 2020 US BDS RE */
#reUSBDS20PacificIslander {
    left: 0px;
}

#reUSBDS20NativeAmerican {
    left: 3px;
}

#reUSBDS20TwoOrMore {
    left: 8px;
}

#reUSBDS20Black {
    left: 12px;
}

#reUSBDS20HLAX {
    left: 49px;
}

#reUSBDS20Asian {
    left: 80px;
}

#reUSBDS20White {
    left: 100px;
}

/* 2020 US BGS RE */
#reUSBGS20PacificIslander {
    left: 0px;
}

#reUSBGS20NativeAmerican {
    left: 3px;
}

#reUSBGS20TwoOrMore {
    left: 9px;
}

#reUSBGS20Black {
    left: 15px;
}

#reUSBGS20HLAX {
    left: 49px;
}

#reUSBGS20Asian {
    left: 113px;
}

#reUSBGS20White {
    left: 144px;
}

@media only screen and (max-width: 414px) {
    /* 2021 */
    #reUSBCA21NativeAmerican {
        left: 5px;
    }
    
    #reUSBCA21TwoOrMore {
        left: 11px;
    }
    
    #reUSBCA21Black {
        left: 20px;
    }
    
    #reUSBCA21HLAX {
        left: 47px;
    }
    
    #reUSBCA21Asian {
        left: 68px;
    }
    
    #reUSBCA21White {
        left: 143px;
    }

    #reUSBDS21NativeAmerican {
        left: 3px;
    }
    
    #reUSBDS21TwoOrMore {
        left: 5px;
    }
    
    #reUSBDS21Black {
        left: 12px;
    }
    
    #reUSBDS21HLAX {
        left: 49px;
    }
    
    #reUSBDS21Asian {
        left: 81px;
    }
    
    #reUSBDS21White {
        left: 98px;
    }

    #reUSBGS21NativeAmerican {
        left: 3px;
    }

    #reUSBGS21TwoOrMore {
        left: 6px;
    }

    #reUSBGS21Black {
        left: 14px;
    }

    #reUSBGS21HLAX {
        left: 45px;
    }

    #reUSBGS21Asian {
        left: 104px;
    }

    #reUSBGS21White {
        left: 136px;
    }

    /* 2020 */
    #reUSBCA20NativeAmerican {
        left: 4px;
    }
    
    #reUSBCA20TwoOrMore {
        left: 11px;
    }
    
    #reUSBCA20Black {
        left: 19px;
    }
    
    #reUSBCA20HLAX {
        left: 46px;
    }
    
    #reUSBCA20Asian {
        left: 63px;
    }
    
    #reUSBCA20White {
        left: 135px;
    }

    #reUSBDS20NativeAmerican {
        left: 1px;
    }
    
    #reUSBDS20TwoOrMore {
        left: 4px;
    }
    
    #reUSBDS20Black {
        left: 11px;
    }
    
    #reUSBDS20HLAX {
        left: 45px;
    }
    
    #reUSBDS20Asian {
        left: 75px;
    }
    
    #reUSBDS20White {
        left: 92px;
    }

    #reUSBGS20NativeAmerican {
        left: 5px;
    }
    
    #reUSBGS20TwoOrMore {
        left: 7px;
    }
    
    #reUSBGS20Black {
        left: 14px;
    }
    
    #reUSBGS20HLAX {
        left: 44px;
    }
    
    #reUSBGS20Asian {
        left: 105px;
    }
    
    #reUSBGS20White {
        left: 134px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    /* 2021 */
    #reUSBCA21NativeAmerican {
        left: 3px;
    }
    
    #reUSBCA21TwoOrMore {
        left: 9px;
    }
    
    #reUSBCA21Black {
        left: 18px;
    }
    
    #reUSBCA21HLAX {
        left: 42px;
    }
    
    #reUSBCA21Asian {
        left: 60px;
    }
    
    #reUSBCA21White {
        left: 129px;
    }

    #reUSBDS21NativeAmerican {
        left: 2px;
    }
    
    #reUSBDS21TwoOrMore {
        left: 4px;
    }
    
    #reUSBDS21Black {
        left: 11px;
    }
    
    #reUSBDS21HLAX {
        left: 43px;
    }
    
    #reUSBDS21Asian {
        left: 72px;
    }
    
    #reUSBDS21White {
        left: 88px;
    }

    #reUSBGS21NativeAmerican {
        left: 2px;
    }

    #reUSBGS21TwoOrMore {
        left: 5px;
    }

    #reUSBGS21Black {
        left: 12px;
    }

    #reUSBGS21HLAX {
        left: 41px;
    }

    #reUSBGS21Asian {
        left: 94px;
    }

    #reUSBGS21White {
        left: 123px;
    }

    /* 2020 */
    #reUSBCA20NativeAmerican {
        left: 4px;
    }
    
    #reUSBCA20TwoOrMore {
        left: 10px;
    }
    
    #reUSBCA20Black {
        left: 17px;
    }
    
    #reUSBCA20HLAX {
        left: 41px;
    }
    
    #reUSBCA20Asian {
        left: 56px;
    }
    
    #reUSBCA20White {
        left: 122px;
    }

    #reUSBDS20NativeAmerican {
        left: 1px;
    }
    
    #reUSBDS20TwoOrMore {
        left: 3px;
    }
    
    #reUSBDS20Black {
        left: 11px;
    }
    
    #reUSBDS20HLAX {
        left: 41px;
    }
    
    #reUSBDS20Asian {
        left: 68px;
    }
    
    #reUSBDS20White {
        left: 83px;
    }

    #reUSBGS20NativeAmerican {
        left: 3px;
    }
    
    #reUSBGS20TwoOrMore {
        left: 6px;
    }
    
    #reUSBGS20Black {
        left: 13px;
    }
    
    #reUSBGS20HLAX {
        left: 40px;
    }
    
    #reUSBGS20Asian {
        left: 94px;
    }
    
    #reUSBGS20White {
        left: 120px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    /* 2021 */
    #reUSBCA21NativeAmerican {
        left: 3px;
    }
    
    #reUSBCA21TwoOrMore {
        left: 9px;
    }
    
    #reUSBCA21Black {
        left: 18px;
    }
    
    #reUSBCA21HLAX {
        left: 40px;
    }
    
    #reUSBCA21Asian {
        left: 59px;
    }
    
    #reUSBCA21White {
        left: 123px;
    }

    #reUSBDS21NativeAmerican {
        left: 2px;
    }
    
    #reUSBDS21TwoOrMore {
        left: 4px;
    }
    
    #reUSBDS21Black {
        left: 11px;
    }
    
    #reUSBDS21HLAX {
        left: 41px;
    }
    
    #reUSBDS21Asian {
        left: 69px;
    }
    
    #reUSBDS21White {
        left: 85px;
    }

    #reUSBGS21NativeAmerican {
        left: 2px;
    }

    #reUSBGS21TwoOrMore {
        left: 5px;
    }

    #reUSBGS21Black {
        left: 12px;
    }

    #reUSBGS21HLAX {
        left: 39px;
    }

    #reUSBGS21Asian {
        left: 91px;
    }

    #reUSBGS21White {
        left: 119px;
    }

    /* 2020 */
    #reUSBCA20NativeAmerican {
        left: 4px;
    }
    
    #reUSBCA20TwoOrMore {
        left: 10px;
    }
    
    #reUSBCA20Black {
        left: 17px;
    }
    
    #reUSBCA20HLAX {
        left: 39px;
    }
    
    #reUSBCA20Asian {
        left: 54px;
    }
    
    #reUSBCA20White {
        left: 117px;
    }

    #reUSBDS20NativeAmerican {
        left: 1px;
    }
    
    #reUSBDS20TwoOrMore {
        left: 3px;
    }
    
    #reUSBDS20Black {
        left: 11px;
    }
    
    #reUSBDS20HLAX {
        left: 39px;
    }
    
    #reUSBDS20Asian {
        left: 65px;
    }
    
    #reUSBDS20White {
        left: 80px;
    }

    #reUSBGS20NativeAmerican {
        left: 3px;
    }
    
    #reUSBGS20TwoOrMore {
        left: 6px;
    }
    
    #reUSBGS20Black {
        left: 13px;
    }
    
    #reUSBGS20HLAX {
        left: 37px;
    }
    
    #reUSBGS20Asian {
        left: 91px;
    }
    
    #reUSBGS20White {
        left: 116px;
    } 
}

/**
* GEDI Custom Tooltips - Veterans
*/
#veUSBCA21Veterans {
    left: 0px;
}

#veUSBCA21Others {
    left: 61px;
}

#veUSBDS21Veterans {
    left: 0px;
}

#veUSBDS21Others {
    left: 77px;
}

#veUSBGS21Veterans {
    left: 0px;
}

#veUSBGS21Others {
    left: 113px;
}

#veUSBCA20Veterans {
    left: 0px;
}

#veUSBCA20Others {
    left: 65px;
}

#veUSBDS20Veterans {
    left: 0px;
}

#veUSBDS20Others {
    left: 77px;
}

#veUSBGS20Veterans {
    left: 0px;
}

#veUSBGS20Others {
    left: 141px;
}

@media only screen and (max-width: 414px) {
   #veUSBCA21Others {
        left: 57px;
    }

    #veUSBDS21Others {
        left: 72px;
    }

    #veUSBGS21Others {
        left: 107px;
    }

    #veUSBCA20Others {
        left: 62px;
    }

    #veUSBDS20Others {
        left: 72px;
    }

    #veUSBGS20Others {
        left: 131px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    #veUSBCA21Others {
        left: 52px;
    }

    #veUSBDS21Others {
        left: 65px;
    }

    #veUSBGS21Others {
        left: 95px;
    }

    #veUSBCA20Others {
        left: 55px;
    }

    #veUSBDS20Others {
        left: 65px;
    }

    #veUSBGS20Others {
        left: 119px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    #veUSBCA21Others {
        left: 49px;
    }

    #veUSBDS21Others {
        left: 62px;
    }

    #veUSBGS21Others {
        left: 90px;
    }

    #veUSBCA20Others {
        left: 53px;
    }

    #veUSBDS20Others {
        left: 63px;
    }

    #veUSBGS20Others {
        left: 113px;
    }
}